[Unit]
After=network.service
Description="tg-gpt-bot"

[Service]
User=user
WorkingDirectory=/home/user/tg-gpt-bot
ExecStart=/home/user/tg-gpt-bot/target/release/tg-gpt-bot
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
